---
import Layout from "@/layouts/Layout.astro";

const incomeTest = [
  { value: "Bancolombia"  },
  { value: "Bancobogota" },
  { value: "Nequi", date: "27-03-2025" },
];

---

<Layout>
  <div class="pb-4 mb-7 flex justify-between items-center border-b border-gray-400">
    <h1 class="text-5xl">Cuentas</h1>
    <a href="/income/add"  class="flex items-center gap-4 bg-gray-200 px-4 py-2 rounded-md hover:bg-gray-700 hover:text-white">
      <span class="material-icons">add</span>
      Agregar cuenta
    </a>
  </div>
  <ul class="flex flex-col gap-4">
    {incomeTest.map((income) => {
      return(
        <li class="flex justify-between items-center py-2 border-b border-gray-200">
          <span class="text-xl">{income.value}</span>
        </li>
      )
    })}
  </ul>
</Layout>