---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <h1 class="pb-4 mb-7 text-5xl border-b border-gray-400">Dashboard</h1>
  <div class="flex lg:flex-row flex-col gap-4">
    <div class="p-4 border shadow flex-1 rounded flex flex-col gap-4 border-gray-200">
      <h2 class="text-4xl">Ingresos</h2>
      <h3 class="text-3xl text-green-500">$ 300000</h3>
    </div>

    <div class="p-4 border shadow flex-1 rounded flex flex-col gap-4 border-gray-200">
      <h2 class="text-4xl">Gastos</h2>
      <h3 class="text-3xl text-red-500">$ 300000</h3>
    </div>

    <div class="p-4 border shadow flex-1 rounded flex flex-col gap-4 border-gray-200">
      <h2 class="text-4xl">Cuentas</h2>
      <h3 class="text-3xl">2</h3>
    </div>
  </div>
</Layout>
