<nav class="mx-auto p-6" aria-label="Global">
  <div class="hidden lg:flex items-center justify-center gap-8">
    <a href="/dashboard" class="text-sm/6 font-semibold text-gray-900">Dashboard</a>
    <a href="/income" class="text-sm/6 font-semibold text-gray-900">Ingresos</a>
    <a href="/expenses" class="text-sm/6 font-semibold text-gray-900">Gastos</a>
    <a href="/accounts" class="text-sm/6 font-semibold text-gray-900">Cuentas</a>
  </div>
  <div class="flex justify-end lg:hidden">
    <button id="headerOpenDialog" type="button" class="hover:cursor-pointer">
      <span class="sr-only">Open main menu</span>
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
</nav>