---
import Header from '@/components/header/Header.astro';
import ReactQueryDevtoolsWrapper from '@/react_components/WrapperQueryDevtools';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    {process.env.NODE_ENV === 'development' && <ReactQueryDevtoolsWrapper client:load />}
    <Header />
    <main class="container mx-auto pt-7">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
